* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.arkaplan-resim {
  width: auto;
  max-width: 100%;
  filter: brightness(70%);
  z-index: 0;
}

nav {
  background-color: #363636;
  opacity: 75%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.items {
  margin-right: auto;
  margin-left: auto;
  display: table;
}

nav a {
  transition: 0.3s;
  display: inline-block;
  color: #f0ffff;
  text-align: center;
  padding: 10px 16px;
  margin: 26px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #f39c12;
}
